<app-filter [all] ="totalProduct"
 [inStock] = "totalAvailableProduct"
 [outOfStock] ="totalNotAvailableProduct" 
 (selectedFilterRationChanged) = "onFilterchange($event)"></app-filter>
<div class="ekart--products--container">
    <div *ngFor="let prod of products">
        <app-product [product] ="prod" *ngIf="selectedRadioBut === 'all' || prod.is_in_inventory.toString() === selectedRadioBut"></app-product>
    </div>
</div>

<!-- <div *ngFor = "let item of listofString">
    <p> Curren element of array is: {{item}}</p>
</div> -->
<!-- <img [src]="product.pImage" class="product-img">
<p>Name: {{product.name}}</p>
<p>Price: {{'$'+product.price}}</p>
<p>Color: {{product.color}}</p>
<p>Discounted Price: ${{getDiscountedPrice()}} </p>
<p>{{product.inStock >0 ? 'Only ' + product.inStock + ' items left' : 'Not in Stock'}} </p>

 <button [disabled] ="(addToCart<1)" (click) = "decrementCartVal()" >-</button>
 <span> {{addToCart}}</span>
 <button  [disabled] ="(product.inStock <= addToCart)" (click) = "incrementCartVal()">+</button> -->

